<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Közös ös</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<style>
    body {
        background: black
    }
</style>
<h2 class="text-center mt-3">Legközelebbi közös ős kereső</h2>

<div class="container mt-5">
    <form class="row g-3 border border-primary rounded card bg-dark text-white border-white"
          th:action="@{'/carnivora/kozosos/a'}"
          method="get" th:object="${kozosOs}">
        <div class="col">
            <label for="inputSpecies1">Egyik faj</label>
            <select class="form-select " style="width:auto;" th:field="*{species1}">
                <option th:each="species : ${allSpecies}" th:text="${species.nev}" th:value="${species.id}">

                </option>
            </select>
        </div>
        <div class="col">
            <label for="inputSpecies2">Másik faj</label>
            <select class="form-select" style="width:auto;" th:field="*{species2}">
                <option th:each="species : ${allSpecies}" th:text="${species.nev}" th:value="${species.id}"
                        th:disabled="${species.nev == 'Falanuk'}"></option>
            </select>
        </div>
        <div class="col">
            <!--<a type="button" class="btn btn-primary text-center" th:href="@{'/carnivoraProject/carnivora/{id}/adatlap'(id=*{species1.id})}">Kezdőlap</a>-->
        </div>
        <div class="col">
            <!--<form th:action="@{'/carnivoraProject/carnivora/{id}/adatlap'(id=*{species1.id})}" method="get">
                <input type="submit" class="btn btn-success" value="Betölt"/>
            </form>-->

            <!--<a type="button" class="btn btn-primary text-center" th:action="@{'/carnivoraProject/kozosos/{id}'(id=*{species1.id})}"
               method="post">Kezdőlap</a>-->
        </div>
        <hr/>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Közös ős keresés</button>
        </div>

    </form>
</div>
<div class="text-center mt-2">
    <a type="button" class="btn btn-primary text-center" th:href="@{'/carnivora/carnivora'}">Kezdőlap</a>
</div>

<div th:if="${formBevitelUtan}">
    <div class="container-fluid" style="background-color: black; color: lightgrey;">
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">SzülőkategóriaID</th>
                <th scope="col">Név</th>
                <th scope="col">Latin név</th>
                <th scope="col">Leírás</th>
                <th scope="col">Veszelyeztetett besorolás</th>
                <th scope="col">Specialista?</th>
                <th scope="col"></th>
                <th scope="col"></th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="species : ${megtalaltOs}">
                <th scope="row" th:text="${species.id}">1</th>
                <td th:text="${species.szuloKategoriaID}">1</td>
                <td th:text="${species.nev}">Név</td>
                <td th:text="${species.latinNev}">LatinNév</td>
                <td th:text="${species.leiras}">100</td>
                <td th:text="${species.veszelyeztetettBesorolas}">100</td>
                <td th:text="${species.isSpecialista}">100</td>
                <td>
                    <div class="row">
                        <div class="col">
                            <form th:action="@{'/carnivora/carnivora/{id}/adatlap'(id=${species.id})}"
                                  method="get">
                                <input type="submit" class="btn btn-success" value="Betölt"/>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


</div>


</body>
</html>